<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dwitter</title>

</head>
<fieldset style="background-color:aqua; size:50px; padding-top: 80px; padding-bottom: 80px;
margin-top: 50px;">
<center>
    <form action="" method="post">
 <body>
<label>Username:</label>
<input type="text" name="username"><br><br>
<label>password:</label>
    <input type="pwd" name="password"></center>

<center><a href="https://www.twitter.com/" target="_blank"> Login To The Dwitter</a>
</center>
</form>
</body>
</fieldset>
</html>